.app {
    height: 100vh;

    background-color: #F2F2F2;
}

.sectionContainer {
    max-width: 800px;

    margin: 50px auto;

    .searchContainer {


        input {
            width: 360px;
            height: 35px;

            border: 2px solid #B3B3B3;
            border-right: 0;

            background-color: transparent;

            &:focus-visible {
                outline: none;
            }
        }

        button {
            width: 30px;

            border: 2px solid #B3B3B3;
            border-left: 0;
        }
    }

    @media screen and (max-width:820px) {
        min-width: 400px;
        padding: 20px;

        .searchContainer input {
            width: 90%;
        }
    }
}