@mixin listDefault {
    list-style: none;
}

.app {
    height: 100vh;
}

.sectionContainer {
    max-width: 800px;

    margin: 50px auto;

    .searchContainer {

        input {
            width: 360px;
            height: 35px;

            border: 2px solid #B3B3B3;
            border-right: 0;

            background-color: transparent;

            &:focus-visible {
                outline: none;
            }
        }

        button {
            width: 30px;

            border: 2px solid #B3B3B3;
            border-left: 0;
        }
    }

    .containerTable {
        @include listDefault();

        padding: 0;

        >ul {
            @include listDefault();

            height: 40px;
            padding: 0;

            >li {
                width: 150px;
                height: 100%;

                border: 1px solid #819EB1;
                border-collapse: collapse;

                background: #A4B5BF;
                color: #27353F;

                position: relative;

                .containerIcon {
                    position: absolute;
                    right: 10px;
                }
            }

        }



    }

    .containerMoreRow button {
        background-color: transparent;

        border: 0;

        >:first-child {
            padding-right: 15px;
        }

        &:hover {
            >:first-child {
                color: #49708C;
            }
        }
    }

    @media screen and (max-width:820px) {
        min-width: 400px;
        padding: 20px;

        .searchContainer input {
            width: 90%;
        }
    }
}