.modal {
    top: 100px;

    >div {
        margin-top: 50px;
    }

    .containerModal {
        position: relative;

        .containerImagem {
            position: absolute;
            left: 185px;

            img {
                border-radius: 50%;
            }
        }

        .containerBody {
            margin-top: 50px;

            >div {
                margin-bottom: 10px;

                span {
                    &:first-child {
                        margin-right: 10px;

                        font-size: 1.2em;
                        font-weight: bolder;
                    }
                }
            }
        }
    }
}